<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body th:object="${user}">
<h2 th:text="${user.getUsername()}"></h2>
<table border="1">
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>E-mail</th>
        <th>Username</th>
        <th>Password</th>
        <th>Roles</th>
    </tr>
        <tr th:object="${user}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getLastName()}"></td>
        <td th:text="${user.getAge()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td th:text="${user.getUsername()}"></td>
        <td th:text="${user.getPassword()}"></td>
        <td th:text="${user.getRoles()}"></td>
    </tr>
</table>
<p> Return to <a href="/">main page</a></p>
<br><br>
<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="Logout!"/>
</form>
</body>
</html>